/* Reusable component  */
.container {
  padding-left: 13.5rem;
  padding-top: 3.5rem;
}
.page {
  min-height: 95vh;
}
.single-content {
  margin-bottom: 4rem;
}
.single-img {
  height: 6.5rem;
  width: 6.5rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  padding: 0.5rem;
}
/* Typography  */
h1 {
  font-size: 9rem;
  margin-bottom: 12rem;
}
h1 span {
  color: #052a9a;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  color: #4169e1;
  font-size: 1.5rem;
  font-family: "Fira Code", monospace;
}
